header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a141e;
    width: 100%;
    height: 100px;
  }

  header h2 {
    color: white;
    font-weight: bold;
  }
  header a {
    text-decoration: none;
  }
header p {
  color: white;
  margin-top: 10px;
  margin-right: 30px;
}
  .logo {
    display: flex;
    flex-direction: row;
  }

  .logo h2 {
    padding-top: 30px;
  }
  
  .logo img {
    font-size: 24px;
    height: 100px;
    font-weight: bold;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .buttons a {
    text-decoration: none;
  }
  header .credits-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    color: black;
    height: 40px;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
  }
  header .login-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    color: black;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
  }

  header .login {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
    color: black;
    width: 150px;
    font-weight: bold;
    font-size: 17px;
  }

  * {
    margin: 0;
}

h1, h2, h3, h4, p, span, ul, li, a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* FORM */
.App {
    width: 75%;
    margin: 0 auto;
}
.App section {
    display: flex;
    flex-direction: row;
    margin-top: 80px;

}
.App section .text-section p {
    line-height: 2rem;
    margin-bottom: 20px;
}
.App section .text-section {
display: flex;
flex-direction: column;
width: 50%;
align-items: center;
  text-align: center;
}

.App section .text-section h3 {
    font-size: 35px;
    margin-bottom: 10px;
}
.App section .text-section a {
  text-decoration: none;
  width: 300px;
}
.App section .text-section button {
    background-color:#0a141e;
    color:white;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    height: 45px;
    border: none;
    font-size: 18px;
}
.App section .img-section {
    width: 50%;
    margin-left: 20px;
}
.App section .img-section img {
width: 450px;
height: 300px;
}
.downladed-img {
  background-color: #0a141e;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  width: 200px;
  height: 40px;
  color: white;
}
body {
    font-family: Arial, sans-serif;
  }

  form {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
  }

  form h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  form input {
    width: 60%;
    height: 50px;
    border: 1px solid #0a141e;
  }
  form .preview {
    display: flex;
    flex-direction: row;
  }

  form .preview-pics {
    margin-bottom: 30px;
  }
  .gender {
    margin-top: 30px;
  }
  form .preview img {
    width: 20%;
    height: auto;
    margin-right: 10px; 
    margin-bottom: 10px; 
  }
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  button[type="submit"] {
    background-color: #007bff;
    border-radius: 12px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 42px;
    width: 250px
  }
  .logout-generate {
    background-color: #007bff;
    border-radius: 12px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 42px;
    width: 250px
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
.about {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column !important;
}
  .about h3 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
  }
  .about h5 {
font-size: 18px;
font-weight: 300;
line-height: 30px;
margin-bottom: 10px;
  }

  .info-about {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin: 20px;
  }

  .info-about .highlight {
   margin-right: 15px;
  }
  .wrap-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .wrap-info .info-about {
    width: 45%;
  }
  .howitworks {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column !important;
}
  .howitworks h3 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
  }
  .howitworks h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}
.start-button .start {
    margin-top: 50px;
    text-align: center;
}
.start-button a {
    text-decoration: none;
}
.start {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 14px;
    background-color: #0a141e;
    color: white;
    font-weight: 600;
}

.cookies-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}
.cookies-container p {
  margin-top: 20px;
  line-height: 26px;
  font-size: 15px;
}
.cookies-container h1 {
  padding-top: 15px;
}
.cookies-container h2 {
  padding-top: 15px;
  font-size: 26px;
}
.cookies-container li {
  margin-bottom: 10px;
}

footer {
    margin-top: 80px;
    width: 100%;
    height: 200px;
    background-color: #0a141e;
    color: white;
    
}
.footer-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
footer a:hover {
  color: #007bff
}
footer p {
    margin-bottom: 20px;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer li {
    padding-right: 30px;
}
footer .terms {
    display: flex;
    flex-direction: row;
}

.generate {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}
.generate h1 {
    text-align: left;
    margin-bottom: 20px;
}

.generate h2 {
    font-size: 16px;
    color: gray;
    margin-bottom: 25px;
}
.generate ul {
    margin-left: 10px;
}
.generate li {
    padding-bottom: 15px;
    color: black;
    font-size: 14px;
}

.select {
    height: 100px;
}

.results-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  
  .form-container {
    flex: 1;
    width: 50%;
  }
  
  .image-container {
    flex: 1;
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .image-container .generated-image {
   width: 60%;
  }
.download-a {
    margin-top: 30px;
}
.download-a button {
    margin-right: 20px;
}

.download-a a {
    text-decoration: none;
    color: black;
}

/* Default styles */

/* Styles for screen sizes larger than 1400px */
@media (min-width: 1400px) {
    /* Add your styles here */
    .App section {
      margin: 100px auto;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .App section .text-section {
      flex: 1;
      padding-right: 50px;
    }
  
    .App section .img-section {
      flex: 1;
      text-align: right;
    }
  
    .App section .img-section img {
      width: 450px;
      height: 300px;
    }
  }
  
  /* Styles for screen sizes between 1200px and 1399px */
  @media (min-width: 1200px) and (max-width: 1399px) {
    /* Add your styles here */
    .App section {
      margin: 80px auto;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .App section .text-section,
    .App section .img-section {
      width: 100%;
      text-align: center;
    }

    .wrap-info .info-about {
        width: 100%;
    }
  
    .App section .img-section {
      margin-top: 30px;
    }
  
    .App section .img-section img {
      width: 80%;
      height: auto;
    }
  }
  
  /* Styles for screen sizes between 900px and 1199px */
  @media (min-width: 900px) and (max-width: 1199px) {
    /* Add your styles here */
    .App section {
      margin: 60px auto;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .App section .text-section,
    .App section .img-section {
      width: 100%;
      text-align: center;
    }
  
    .App section .img-section {
      margin-top: 30px;
    }
  
    .App section .img-section img {
      width: 80%;
      height: auto;
    }
    .wrap-info .info-about {
        width: 100%;
    }
    .App section .text-section h3 {
        line-height: 45px;
    }
    .howitworks {
        width: 85%;
    }
    .about {
        width: 85%;
    }
    .results-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .image-container {
      padding-top: 40px;
      margin: 0 auto;
      width: 80%;
    }
    .form-container {
      width: 80%;
    }
    .form-container .generate {
      width: 80%;
    }
    .creds {
      margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: auto !important;
  margin: 0 auto;
  align-items: center; /* Center horizontally */
    }
    .creds-div {
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  cursor: pointer;
  width: 60%;
  height: 50%;
  margin-bottom: 50px;
  }
  .creds-image {
      width: 30% !important;
  }
  .creds-div button {
    margin-bottom: 20px;
  }
  }
  
  /* Styles for screen sizes between 750px and 899px */
  @media (min-width: 750px) and (max-width: 899px) {
    /* Add your styles here */
    .App section {
      margin: 40px auto;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .App section .text-section,
    .App section .img-section {
      width: 100%;
      text-align: center;
    }
  
    .App section .img-section {
      margin-top: 30px;
    }
  
    .App section .img-section img {
      width: 80%;
      height: auto;
    }
    .howitworks {
        width: 85%;
    }
    .about {
        width: 85%;
    }
    .wrap-info .info-about {
        width: 100%;
    }
    .results-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .image-container {
      padding-top: 40px;
      margin: 0 auto;
      width: 80%;
    }
    .form-container {
      width: 80%;
    }
    .form-container .generate {
      width: 80%;
    }
    .creds {
      margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: auto !important;
  margin: 0 auto;
  align-items: center; /* Center horizontally */
    }
    .creds-div {
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  cursor: pointer;
  width: 60%;
  height: 50%;
  margin-bottom: 50px;
  }
  .creds-image {
      width: 30% !important;
  }
  .creds-div button {
    margin-bottom: 20px;
  }
  }
  
  /* Styles for screen sizes smaller than 750px */
  @media (max-width: 749px) {
    /* Add your styles here */
    .App section {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .App section .text-section,
    .App section .img-section {
      width: 100%;
      text-align: center;
    }
  
    .App section .img-section {
      margin-top: 30px;
    }
  
    .App section .img-section img {
      width: 80%;
      height: auto;
    }
    .results-container {
      display: flex;
      flex-direction: column-reverse;
    }
    .image-container .generated-image {
      width: 90%;
    }
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      margin: 0 auto;
      width: 90%;
    }
    .form-container {
      width: 80%;
    }
    .form-container .generate {
      width: 80%;
    }
    .creds {
      margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: auto !important;
  margin: 0 auto;
  align-items: center; /* Center horizontally */
    }
    .creds-div {
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  cursor: pointer;
  width: 80%;
  height: 50%;
  margin-bottom: 50px;
  }
  .creds-image {
      width: 30% !important;
  }
  .creds-div button {
    margin-bottom: 20px;
  }
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
  }

  .menu-container {
    display: none;
  }
  .about {
    width: 90%;
  }
  .wrap-info .info-about {
    width: 90%;
  }
  .howitworks {
    width: 85%;
  }
  
  /* Show burger menu icon at max-width: 750px */
  @media(max-width: 750px) {
    .buttons,
    .login-button, div .login-button, div .login {
      display: none;
      display: hidden;
    }
  
    .burger-menu {
      display: block;
    }

    .menu-container {
        display: block;
      }
      .App {
        width: 80%;
      }
      form .preview img {
        width: 50%;
      }
  }

  @media(max-width: 600px) {
    footer .terms {
      display: flex;
      flex-direction: column;
    }
    footer ul {
      display: flex;
      flex-direction: column;
    }
    footer li {
      padding-right: 5px;
      padding-bottom: 15px;
    }
    .footer-section {
     width: 90%
    }
    form .preview img {
      width: 50%;
    }
    .cookies-container {
      width: 90%;
    }
  }

  @media(max-width: 480px) {
    .App {
      margin-top: 30px;
      width: 86%;
    }
    .App section .text-section h3 {
      margin-bottom: 20px;
    }
    .App section .text-section button {
      width: 55%;
    }
    .App section .img-section {
      margin-top: 50px;
      margin-bottom: 30px;
    }
    .App section {
      margin: 0px auto;
    }
    .wrap-info .info-about {
      width: 100%;
    }
    .info-about {
      margin: 0px;
      margin-top: 20px;
    }
    .howitworks {
      width: 90%;
    }
    .generate {
      width: 90%;
    }
    .generate h2 {
      line-height: 30px;
    }
    .generate li {
      line-height: 30px;
    }
    form .preview img {
      width: 50%;
    }
    form button[type="submit"] {
      width: 80%;
      height: 40px;
    }
    footer .terms {
      display: flex;
      flex-direction: column;
    }
    footer ul {
      display: flex;
      flex-direction: column;
    }
    footer li {
      padding-right: 5px;
      padding-bottom: 15px;
    }
    .footer-section {
     width: 90%
    }
    .App section .img-section {
      margin-left: 0px;
    }
    .creds-div {
      width: 90%;
      margin-right: 0px !important;
    }
    .creds-div button {
      width: 50% !important;
    }
  }
  

  /* MENU */

.menu {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
  }
  .menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0px;
    font-size: 18px;
    padding: 0px;
  }
  .menu li {
    list-style: outside none none;
    margin: 10px 0px;
    padding: 0;
    cursor: pointer;
  }
  .menu a {
    color: black;
    text-decoration: none;
  }
  .menu a:hover {
    color: #0a141e;
  }
  
  .burger-menu,
  .burger-menu.open {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 9999;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  
  .burger-menu .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .burger-menu.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  
  .burger-menu.open .bar2 {
    opacity: 0;
  }
  
  .burger-menu.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }
  
  @media (min-width: 750px) {
    .burger-menu,
    .burger-menu.open {
      display: none;
    }
  }
  

/* BUY */

.credits-section {
    width: 80%;
    margin: 0 auto
}

.credits-section h1 {
    margin-top: 40px;
    font-size: 35px;
    text-align: center;
}

.credits-section h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    font-weight: 200;
}
.creds {
    margin-top: 50px;
    display: flex;
    height: 40vh;
    margin-bottom: 150px;
  }
  .creds-div {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-right: 30px;
    cursor: pointer;
  }
  .creds-image {
    width: 55%;
    margin-bottom: 10px;
    z-index: 1;
  }
  .creds-content {
    position: relative;
      z-index: 2;
      padding: 10px;
      text-align: center;
  }
  .creds-div button {
    width: 30%;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #0a141e;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
  }